@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, system-ui, Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* tailwind.config.js ou fichier CSS global */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body{
  margin:0;
  padding:0;  
  box-sizing:border-box;  
  
}
.youtube-embed {
  /* Style personnalisé */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Masquer certains éléments YouTube */
.youtube-embed .ytp-chrome-top {
  display: none !important;
}